<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="equipment-container">
    <table class="player-stats">
      <td class="player-info-name">
        <span>{{data.player.name}}</span>
      </td>
      <td class="player-info-stat">
        <span>HP</span>
        <span>{{data.player.health}}</span>
      </td>
      <td class="player-info-stat">
        <span>Pow</span>
        <span>{{data.player.power}}</span>
      </td>
      <td class="player-info-stat">
        <span>Def</span>
        <span>{{data.player.defence}}</span>
      </td>
      <td class="player-info-stat">
        <span>Level</span>
        <span>{{data.player.level}}</span>
      </td>
      <td class="player-info-stat">
        <span>Experience</span>
        <span>{{data.player.experience}} / {{data.player.nextExperience}}</span>
      </td>
    </table>

    <div class="player-gear">
      <img class="player-silhouette" src="assets/player/silhouette.png"/>
    </div>

    <div class="player-inventory">
      <table class="inventory-table">
        <tr class="inventory-table-row" *ngFor="let r of ">

        </tr>
      </table>
    </div>
  </div>
</ion-content>
